.containerElemArea{
    text-align: center;
}

.containerElem{
    display: flex;
    position:static ;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
