.main {
  background-color: #292929;
  min-width: fit-content;
  text-align: center;
  
}
.link-buttons {
  border: none;
  border-radius: 8%;
  min-width: fit-content;
  width: 6%;
  min-height: fit-content;
  height: 20pt;
  margin-left: 0.2%;
  margin-right: 0.2%;
  background-color: #3700b3;
  color: #fff;
}
.link-buttons:hover {
  background-color: #6200ee;
}
.main * {
  min-width: fit-content;
  min-height: fit-content;
}
